body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-weight: 600;
    font-size: 25px;
    background-color: #1ba98d;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    height: 470px;
    width: 350px;
    padding: 20px;
    background-color: rgb(64, 64, 64);
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgb(67, 67, 67);
}

.display {
    display: flex;
    flex-direction: column;
    width: 350px;
    flex: 1;
    align-self: center;
    justify-self: flex-start;
    background-color: rgb(100, 100, 100);
    border-radius: 20px;
    box-shadow: 5px 5px 3px rgb(67, 67, 67) inset;
}

.running-total, .current-number {
    display: flex;
    flex: 1;
    /* background-color: aqua; */
    margin: 5px;
    align-self: flex-end;
    max-width: 340px;
    border-radius: 15px;
    align-items: center;
    margin-right: 10px;
}

.running-total {
    font-size: 19px;
    font-weight: 100;
    color: #57bb98;
}

.current-number {
    font-size: 30px;
    color: #ffffff;
}

.button-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 20px;
}

.top-row, .second-row, .third-row, .fourth-row, .bottom-row {
    display: flex;
}

.button {
    display: flex;
    flex: 1;
    background-color: rgb(134, 134, 134);
    color: #ffffff;
    margin: 5px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 3px 3px 2px rgb(44, 44, 44);
    transition: 0.2s ;
}

.button:hover {
    background-color: #bbbbbb;
    color: #000000;
    transition: 0.2s ease-out;
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.15em);
    box-shadow: 5px 5px 3px rgb(44, 44, 44);
}

#clear:hover, #backspace:hover {
    background-color: #c87b7b;
}

#percentage:hover, #divide:hover, #add:hover, #subtract:hover, #multiply:hover {
    background-color: #6fb5dd;
}

#equal:hover {
    background-color: #8de575;
}

#equal {
    display: flex;
    flex: 2;
}
