body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    background-color: antiquewhite;
    justify-content: space-around;
}

.display {
    display: flex;
    height: 150px;
    width: 350px;
    align-self: center;
    background-color: rgb(185, 222, 222);
}

.button-container {
    display: flex;
    flex-direction: column;
    background-color: azure;
    margin: 15px;
}

.top-row, .second-row, .third-row, .fourth-row, .bottom-row {
    display: flex;
}

.button {
    display: flex;
    flex: 1;
    background-color: aquamarine;
    margin: 5px;
    height: 60px;
    justify-content: center;
    align-items: center;
}

#equal {
    display: flex;
    flex: 2;
}
