body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    background-color: rgb(197, 228, 255);
}

.calculator-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 350px;
    padding: 20px;
    background-color: rgb(98, 98, 98);
    border-radius: 20px;
}

.display {
    display: flex;
    min-width: 350px;
    flex: 1;
    align-self: center;
    justify-self: flex-start;
    background-color: rgb(156, 156, 156);
    border-radius: 20px;
}

.button-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 20px;
}

.top-row, .second-row, .third-row, .fourth-row, .bottom-row {
    display: flex;
}

.button {
    display: flex;
    flex: 1;
    background-color: rgb(182, 182, 182);
    margin: 5px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

#equal {
    display: flex;
    flex: 2;
}
